---
layout: default
title: 240 | 那些事
---
<div class="header-post-thumb light-pink">
  <h2>240 | 那些事</h2>
</div>

<div id="blog" class="page">
  <div class="container">
    {% for post in paginator.posts %}
    {% include blogs_item.html %}
    {% endfor %}
    <div id="page">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
      <a href="{{ paginator.previous_page_path }}" class="button button-small">上页</a>
      {% else %}
      <a href="{{ paginator.previous_page_path }}" class="button button-small">上页</a>
      {% endif %}
    {% else %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="button button-small pull-right">下页</a>
      {% else %}
    {% endif %}
    </div>

  </div>
</div>